body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

main p{
    margin: 0.75em 0;
}


/*Header*/

header{
    padding: 1em 1.25em;
}

.logvi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.logo,
.navi{
    display: flex;
    justify-content: baseline;
}

.logo{
    gap: 0.5em;
}

.navi{
    gap: 2em;
}

i{
    font-size: 1.5em;
}

.logo p{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0;
}

.navi p{
    font-size: 1rem;
    font-weight: 600;
}


/*Main*/
main{
    padding: 2em 1.25em 3em;
    background-color: #FAFAFA;;
}

img{
    width: 100%;
}

.chapter{
    display: block;
    width: fit-content;
    margin: 0.75em auto;
    text-align: center;
}

/*Footer*/
footer{
    background: #202020;
    color: aliceblue;
}

.footer-text{
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: 0.75rem;
    padding: 2em;
    text-align: center;;
}

.footer-text p{
    margin: 0 auto;
}



/*Typography*/

.bold{
    font-size: 1.5rem;
    font-weight: 700;
}

.title{
    font-size: 2.5rem;
    line-height: 108.2%;
}


@media (min-width: 480px) {
    .grid{
        display: grid;
        grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1.5em;
    }
}

@media (min-width: 768px){
    
    header{
        padding: 2em 3.25em;
    }

    main{
        padding: 4.5em 3.25em 3.25em;
    }

    .container{
        padding: 0 7.8125em;
    }

    main p{
        margin: 1em 0;
    }
    
    .chapter{
        margin: 1.25em auto;
    }
}